.heart {
    background-color: #fff;
    width: 14px;
    height: 14px;
    position: relative;
    transform: rotate(45deg);
    animation: animateHeart 1.2s infinite;

    &::before,
    &::after {
        content: "";
        width: 14px;
        height: 14px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
    }

    &::before {
        left: -7px;
    }

    &::after {
        top: -7px;
    }
}

@keyframes animateHeart {
    0% {
        transform: rotate(45deg) scale(0.8);
    }
    5% {
        transform: rotate(45deg) scale(0.9);
    }
    10% {
        transform: rotate(45deg) scale(0.8);
    }
    15% {
        transform: rotate(45deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(0.8);
    }
    100% {
        transform: rotate(45deg) scale(0.8);
    }
}



