/* Variables */
@import "variables";

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $main-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $secondary-color-dark;
}
